<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reembolsos Concluídos</title>
</head>
<body>
    <h1>Reembolsos Concluídos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th>Data de Pagamento</th>
            <th>Comprovante de Reembolso</th> <!-- Coluna para o comprovante de reembolso -->
        </tr>
        {% for reembolso in reembolsos_concluidos %}
        <tr>
            <td>{{ reembolso.nome }}</td>
            <td>{{ reembolso.email }}</td>
            <td>{{ reembolso.descricao_produto }}</td>
            <td>{{ reembolso.categoria }}</td>
            <td>R$ {{ reembolso.valor_nf }}</td>
            <td>{{ reembolso.data_pagamento }}</td>
            <td>
                {% if reembolso.comprovante_reembolso %}
                    <a href="{{ reembolso.comprovante_reembolso.url }}">Ver Comprovante do Reembolso</a>
                {% else %}
                    Sem Comprovante
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Nenhum reembolso concluído encontrado.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
