<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reembolsos/style.css' %}">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="login-container">
        <div class="login-box">
            {% load static %}
            <img class="login-img" src="{% static 'reembolsos/img/logo-einstein-alt.png' %}">
            <form method="post">
                {% csrf_token %}
                <div class="login-info">
                    <label for="username">Usuário:</label>
                    <input type="text" name="username" required>
                </div>
                <br>
                <div class="login-info">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" required>
                </div>
                <br>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>

    {% if form.errors %}
        <p>Usuário ou senha inválidos.</p>
    {% endif %}
</body>
</html>
